<% if ( item === 'profile' ) { %>

	<div class="left">
		<div class="header">
			<span class="title bbFontLight">your profile</span>
		</div>
		<div class="item">
			<div class="title">ACCOUNT BALANCE</div>
			<div class="arrow"></div> 
		</div>
		<div class="item">
			<div class="title">PERSONAL INFORMATION</div>
			<div class="arrow"></div> 
		</div>
		<div class="item">
			<div class="title">PLAYED MATCHES</div>
			<div class="arrow"></div> 
		</div>		
	</div>
	
	<div class="right">
		<div class="header">
			<span class="title bbFontLight">your payments</span>
		</div>
		<div class="left">
			<div class="title">ACCOUNT BALANCE</div>
			<div class="value">&euro; <%= data.balance.toFixed(2) %></div>
		</div>
		<div class="middle">
			<div class="title">INVESTMENT</div>
			<div class="value">&euro; <%= data.investment.toFixed(2) %></div>
			<div class="title">PROFIT</div>
			<div class="value">&euro; <%= data.profit.toFixed(2) %></div>
			<div class="title">CHECKOUT</div>
			<div class="value">&euro; <%= data.checkout.toFixed(2) %></div>
		</div>
		<div class="right">
			<div class="invest"></div>
			<div class="checkout"></div>
		</div>
		<div class="subheader">
			<div class="date bbFontLight">date</div>
			<div class="time bbFontLight">time</div>
			<div class="debitcredit bbFontLight">debit/credit</div>
			<div class="amount bbFontLight">amount</div>
			<div class="description bbFontLight">description</div>
			<div class="balance bbFontLight">balance</div>			
		</div>
		<% for(var i=0; i<data.transactions.length; i++) { %>
			<div class="item">
				<div class="date"><%= data.transactions[i].date %></div>
				<div class="time"><%= data.transactions[i].time %></div>
				<div class="debitcredit"><%= data.transactions[i].debitcredit %></div>
				<div class="amount"><%= data.transactions[i].amount %></div>
				<div class="description"><%= data.transactions[i].description %></div>
				<div class="balance"><%= data.transactions[i].balance %></div>
			</div>
		<% } %>
		
	</div>
	
<% } %>



<% if ( item === 'activematches' ) { %>

	<div class="header">
		<span class="title bbFontLight">active matches</span>
	</div>
	
	<% for(var i=0; i<data.length; i++) { %>
		<div class="item" id="9">
			<div class="name"><%= data[i].description %></div>
			<div class="time"><%= data[i].time %></div>
			<div class="date"><%= data[i].date %></div>
		</div>
	<% } %>
	
<% } %>


<% if ( item === 'favourites' ) { %>

	<div class="header">
		<span class="title bbFontLight">favourite matches</span>
	</div>
	
	<%if ( typeof(data) != 'undefined' ) { %>
		
	<% } %>

<% } %>


<% if ( item === 'search' ) { %>

	<div class="header">
		<span class="title bbFontLight">search</span>
	</div>
	
	<%if ( typeof(data) != 'undefined' ) { %>
		
	<% } %>
	
<% } %>
